:root {
  --background-color: #fff;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --logo-main-color: #000000;
  --footer-background-color: #2f303a;
  --filter-button-color: #f5f4fa;
  --button-active-color: #188ce8;
  --header-border-color: #ececec;
  --portfolio-item-border: #eeeeee;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
p {
  margin: 0;
}


.header {
  border-bottom: 1px solid var(--header-border-color);
}

.main-nav {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-header {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
}

.logo-header span {
  color: var(--logo-main-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-self: center;
}

.header-contacts .item + .item {
  margin-left: 30px;
}

.header-contacts .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.contacts-icon .email {
  display: inline;
  width: 16px;
  height: 12px;
  justify-content: center;
  align-self: center;
  margin-right: 10px;
}

.contacts-icon .tel {
  display: inline;
  width: 10px;
  height: 16px;
  justify-content: center;
  align-self: center;
  margin-right: 10px;
}

.contacts-link {
  color: var(--primary-text-color);
}

/*.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}*/

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color)
}




/*
.item .email::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../images/email-logo.svg);
  background-size: auto;
}

.item .tel::before {
  content: "";
  display: inline-flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../images/smartphone-logo.svg);
  background-size: auto;
 }*/

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--footer-background-color);
  padding: 60px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-contacts a {
  display: block;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.6);
  }

.footer-contacts .item:not(:last-child) {
  margin-bottom: 9px
}

.footer-contacts .footer-address {
  color: var(--background-color);
}

.logo-footer {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}

.logo-footer span {
  color: var(--background-color);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}


.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
}

.section {
  padding: 94px 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  width: 696px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}

.button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

.order.button {
  padding: 10px 32px;
  margin-top: 30px;
  min-width: 216px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.order.button:hover,
.order.button:active {
  background-color: var(--button-active-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.benefits-list {
  display: flex;
  justify-content: space-between;
  
}

.benefits-list .item {
  width: calc((100% - 3*30px) /4);
  }

.benefits-list .item+.item {
  margin-left: 30px;
}

.benefits-icon .icon {
  display: block;
  width: 270px;
  height: 120px;
  padding: 25px 0;
  margin: auto;
  background-color: var(--filter-button-color);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-self: center;
}

.benefits-icon .icon:hover {
  border: 1px solid var(--accent-color)
}

.benefits h3 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.benefits p {
  font-size: 14px;
  line-height: 1.7;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.works-list {
  display: flex;
}

.works-list .item {
  width: calc((100% - 2*30px)/3);
}

.works-list .item + .item {
  margin-left: 30px;
}

.team {
  background-color: var(--filter-button-color);
}

.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .item {
  width: calc((100% - 3*30px) /4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-id {
padding-top: 30px;
padding-bottom: 16px;
text-align: center;
}

.team h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.team li {
  background-color: var(--background-color);
}

.social-media-list{
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  margin: auto;
}

.social-media-list .smm {
  display: inline-flex;
  justify-content: center;
  width: calc((100%-3*10px)/4);
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color);
}

.social-media-list .smm + .smm {
  margin-left: 10px;
}

.smm-icon {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-self: center;
}


.smm:hover,
.smm:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  /*change the color of the icon*/
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .item{
  width: calc((100% - 5*30px) /6);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}

.clients-list .item:hover {
  border: 1px solid var(--accent-color);
}

.clients-list .item + .item {
  margin-left: 30px;
}

.clients-icon {
  width: 106px;
  height: 60px;
}

.clients-icon:hover {
  fill: var(--accent-color);
  cursor: pointer;
  /*поменять цвет лого*/
}

.portfolio {
  padding: 94px 0;
}

.filter-list {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}


.filter-list .item + .item {
  margin-left: 8px;
}

.filter.button {
  background-color: var(--filter-button-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
 }

.filter.button:hover,
.filter.button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.portfolio-list .item {
  display: inline-block; 
  width: 370px;
  background-color: var(--background-color);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--portfolio-item-border);
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-descr {
  padding: 20px 24px;
}

.portfolio h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px ; 
}

.portfolio p {
  color: var(--primary-text-color);
  line-height: 1.9;
}
